header {
  padding: 15px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 800;
  margin: 0;
  align-items: left;
}

header nav {
  display: flex;
  justify-content: flex-end;	
	
}

header a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}